.section__dashboard {
  grid-template-columns: 1fr;
}
.section__edit,
.section__project {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.project__form {
  font-size: 1.6rem;
  display: grid;
  gap: 1.6rem;
}
.project__form fieldset {
  /* max-width: 35rem; */
  margin: 0 3rem;
}

.project__form input,
.project__form textarea {
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: var(--most--lighter);
  border-radius: 9px;
  resize: none;
}
.project__form textarea {
  height: 10rem;
}
.project__form .btn__form {
  justify-self: center;
}
.fieldset__tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 20em) {
  .project__form fieldset {
    width: 35rem;
    margin-inline: auto;
  }
}
