.section__hero {
  background-color: var(--lighter--primary);
  padding: 2.4rem 0;
  margin-bottom: 3.6rem;
}
.hero {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 2rem;
}
.hero__header__container {
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-size: 3.6rem;
  letter-spacing: -1px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.hero__header {
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.03rem;
  color: var(--darker--primary);
  margin-bottom: 2.4rem;
}

.img__me {
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.my__techs {
  margin: 0 1.2rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}
.tech__logo {
  height: 7.4rem;
  margin: auto;
}
