.card__section {
  margin-bottom: 4.4rem;
}
.card__section:last-child {
  margin-bottom: 6.2rem;
}
.card__conteiner {
  display: grid;
  max-width: 40rem;
  margin-inline: auto;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  padding-bottom: 2.4rem;

  transition: all 0.3s;
}
.card__project {
  padding: 2.4rem 2.4rem 1.2rem;
  cursor: pointer;
}
.img__container :not(:first-child) {
  display: none;
}

.card__img {
  width: 100%;
  max-height: 31rem;

  transition: all 0.3s;
}
.card__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
.card__techs {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.fa-brands {
  display: flex;
  align-items: center;
  font-size: 3rem;
  height: 3rem;
}
.fa-brands:last-child {
  display: inline-block;
  height: 0;
}
.card__intro {
  font-size: 1.6rem;
  overflow: hidden;
  max-width: 35ch;
  letter-spacing: -0.04rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (min-width: 34em) {
  .card__conteiner {
    max-width: 52rem;
  }
  .card__img {
    max-height: 40rem;
  }
}

@media (min-width: 44em) {
  .card__section {
    margin-bottom: 6.4rem;
  }
  .card__conteiner {
    max-width: 80rem;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    row-gap: 1.2rem;
  }
  .card__project {
    grid-column: 2 / -1;
  }

  .card__img {
    max-height: 48rem;
  }
  .card__title {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
  }
  .card__techs {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .fa-brands {
    display: flex;
    align-items: center;
    font-size: 3.6rem;
    height: 3rem;
  }
  .fa-github {
    font-size: 3rem;
  }
  .card__intro {
    max-width: 45ch;
    margin-inline: auto;
    -webkit-line-clamp: 6;
  }
  .card__conteiner .link__github {
    grid-column: 1/-1;
  }
}
@media (min-width: 75em) {
  .card__conteiner {
    max-width: 80rem;
  }
  .left__side {
    margin-right: auto;
    margin-left: 1rem;
  }
  .rigth__side {
    margin-left: auto;
    margin-right: 1rem;
  }
  .card__conteiner .link__github {
    grid-column: 1/-1;
    opacity: 0;
  }
  .card__conteiner:hover .link__github {
    opacity: 1;
  }
  /* .img__container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 3fr));
    gap: 0.3rem;
    justify-content: center;
  } 
  .card__img {
    max-width: 5rem;
    width: 100%;
    height: 48rem;
    object-fit: cover;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
    border-radius: 9px;
  }
  .img__container .card__img:hover {
    object-fit: fill;
    max-width: 100%;
  } */
  .img__container :not(:first-child){
    display: unset;
  }
  /* .img__container {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
  }
  .card__img {
    max-width: 7rem;
    width: 100%;
    height: 48rem;
    object-fit: cover;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
    border-radius: 9px;
  }
  .img__container .card__img:hover {
    object-fit: fill;
    max-width: 100%;
  } */
}
/* .img__container {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}
.card__img {
  max-width: 7rem;
  width: 100%;
  height: 48rem;
  object-fit: cover;
  overflow: hidden;
  transition: max-width 0.5s ease-out;
  border-radius: 9px;
}
.img__container .card__img:hover {
  object-fit: fill;
  max-width: 100%;
} */

@media (min-width: 94em) {
  .card__conteiner {
    max-width: 100rem;
  }
}