:root {
  --primary--color: #e67e22;
  --lighter--secundary: #fae5d3;
  --lighter--primary: #fdf2e9;
  --darker--primary: #cf711f;
  --primary--font: #555;
  --darker--font: #333;
  --lighter--font: #ddd;
}
