.successfull--container {
    max-width: 35rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    padding: 2rem 4rem;
    margin-inline: auto;
  }
  
  .material-symbols-outlined {
    color: green;
    font-size: 4rem;
  }
  
  .successfull--container > h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .img--container {
    margin-inline: auto;
    max-width: 35rem;
    max-height: 30rem;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .img--container img {
    max-width: 35rem;
    max-height: 30rem;
  }
  
  .copy--path--container {
    display: flex;
    justify-content: center;
    border: 1px solid var(--gray-font);
    border-radius: 8px;
    padding: 0.1rem;
  }
  
  .btn--copy--path {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--buttom--back);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
  
    transition: 0.3s;
  }
  
  .btn--copy--path:hover,
  .btn--copy--path:active {
    background-color: var(--drag--border);
    color: var(--darker-font);
  }
  
  .path--parraf {
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
    margin: 0;
  }