.section__signup,
.section__login {
  font-size: 1.8rem;
  max-width: 50rem;
  margin: 0 auto 2.4rem;
  padding: 3rem 2rem;
}
.login__header,
.signup__header {
  font-size: 2.4rem;
  text-align: center;
  margin: 2.4rem auto;
}
.signup__form,
.login__form {
  display: grid;
  gap: 1rem;
  padding: 1rem 1.4rem;
}
.signup__form input,
.login__form input {
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: var(--most--lighter);
  border-radius: 9px;
  resize: none;
}
fieldset:last-of-type {
  margin-bottom: 1.4rem;
}
.signup__form button,
.login__form button {
  max-width: 15ch;
  justify-self: center;
}
.signup__form p,
.login__form p {
  font-size: 1.2rem;
  justify-self: center;
  font-weight: 500;
  letter-spacing: -0.04rem;
  line-height: 1.4;
}
.message__form {
}
