h4.btn {
  font-size: 2rem;
  font-weight: 500;
  color: var(--darker--font);
  letter-spacing: -0.04rem;
  margin-bottom: 2.4rem;
}

.section__dashboard {
  display: grid;
}
table {
  font-size: 1.8rem;
  margin: 10rem auto 5rem;
  max-width: 60rem;
}
th,
td {
  font-weight: 500;
  text-align: left;
  margin-right: 1rem;
}

th {
  padding-right: 1.2rem;
}
.link__edit,
.link__delete {
  font-size: inherit;
}

.handle__newproject,
.handle__logout {
  font-size: 2.4rem;
  margin: 0 auto 3.2rem;
}

@media (min-width: 75em) {
  .section__dashboard {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  .handle__newproject,
  .handle__logout {
    align-self: center;
    justify-self: center;
  }
}
