.section__detail {
  padding-top: 1.6rem;
  margin-inline: 1.6rem;
}
.project__conteiner {
  display: grid;
  gap: 2.4rem;
}
.project__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
.tech__print {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
}
.project__body p {
  letter-spacing: -0.03rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.project__img {
  margin-bottom: 1.6rem;
  max-width: 75rem;
  width: 100%;
  border-radius: 11px;
}

@media (min-width: 44em) {
  .project__body p {
    max-width: 45ch;
    margin-inline: auto;
  }
}
@media (min-width: 59em) {
  .project__img {
    max-width: 60rem;
  }
}
@media (min-width: 75em) {
  .project__conteiner {
    grid-template-columns: 1fr 1fr;
    margin-top: 4.8rem;
  }

}
